body {
	width: 265px;
    text-align: center;
}

h1 {
	font-size: 16px;
}

p {
	font-size: 12px;
}

.message p {
	font-size: 16px;
}

.message {
	border-bottom: solid 1px #cfcfcf;
}

.btn_selection {
	width: 100%;
}

.btn_selection button {
	width: 75%;
	margin: 10px;
}

.message .status-confiavel span,
#veridico {
	color: #4CAF50;
}

.message .status-falso span,
#falso {
	color: #f44336;
}

.message .status-tendencioso span,
#tendencioso {
	color: #ff9900;
}

.message .status-sensacionalista span,
#sensacionalista {
	color: #6b00b3;
}

.disabled {
	color: #cfcfcf !important;
}
